@model WebApplication.Models.VrsteUsluga

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VrsteUsluga</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Izmjeni", "Edit", new { id = Model.VrstaUslugeID }, new { @class = "edit-button" }) 
    @Html.ActionLink("Povratak na listu", "Index" , null, new { @class="back-button"})
</p>
